
@{
    ViewData["Title"] = "Index";
}

<h1>Tipo Medicamento</h1>

<div class="input-group">
    <input id="txtTipoMedicamento" type="text" class="form-control" onkeyup="filtarTipoMedicamento()" placeholder="Ingresar tipo medicamento a buscar" aria-label="Recipient's username with two button addons">
    
</div>

<fieldset>
    <legend>Guardar Datos</legend>
    <form id="frmGuardarTipoMedicamento" class="row g-3">
        <div class="col-md-6">
            <label for="idTipoMedicamento" class="form-label">Id Tipo Medicamento</label>
            <input type="text" class="form-control" name="idTipoMedicamento" id="idTipoMedicamento">
        </div>
        <div class="col-md-6">
            <label for="Direccion" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="Nombre">
        </div>
        <div class="col-12">
            <label for="personaContacto" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="inputPersona" name="descripcion" placeholder="descripcion">
        </div>
    </form>

   <div class="row g-3">
        <div class="d-grid gap-2">
            <button type="button" class="btn btn-primary" onclick="GuardarTipoMedicamento()">Guardar</button>
            <button type="button" class="btn btn-danger" onclick="LimpiarTipoMedicamento()">Limpiar</button>
        </div>
   </div>

    

</fieldset>

<div id="divTable">

</div>

<script src="~/js/generico.js"></script>
<script src="~/js/tipoMedicamento.js"></script>
