@{
    ViewData["Title"] = "Index";
}

<div class="container my-5">
    <h1>Cliente</h1>
    <div id="divTable">
    </div>
</div>

<div class="modal fade" id="modalActualizar" tabindex="-1" aria-labelledby="modalActualizarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalActualizarLabel">Actualizar Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmGuardarCliente">
                    <input type="hidden" name="idCliente" id="idCliente">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">nombre</label>
                        <input type="text" name="nombre" class="form-control" id="nombre" value="">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Apellido</label>
                        <input type="text" name="apellido" class="form-control" id="apellido" value="">
                    </div><div class="mb-3">
                        <label for="nombre" class="form-label">telefono</label>
                        <input type="text" name="telefono" class="form-control" id="telefono" value="">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">email</label>
                        <input type="text" name="email" class="form-control" id="email" value="">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button class="btn btn-outline-secondary" type="button" onclick="GuardarCliente()" id="buttonGuardar">Guardar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/generico.js"></script>
<script src="~/js/cliente.js"></script>
