
@{
    ViewData["Title"] = "Index";
}

<h1>Seguro</h1>

<div class="input-group">
    <input id="txtSeguro" type="text" class="form-control" onkeyup="filtarSeguro()" placeholder="Ingresar Seguro a buscar" aria-label="Recipient's username with two button addons">
    
</div>

<fieldset>
    <legend>Guardar Datos</legend>
    <form id="frmGuardarSeguro" class="row g-3">
        <div class="col-md-6">
            <label for="idSeguro" class="form-label">id Seguro</label>
            <input type="text" class="form-control" name="idSeguro" id="idSeguro">
        </div>
        <div class="col-md-6">
            <label for="id Reserva" class="form-label">id Reserva</label>
            <input type="text" class="form-control" name="idReserva" id="idReserva">
        </div>
        <div class="col-md-6">
            <label for="anio" class="form-label">tipo Seguro</label>
            <input type="text" class="form-control" name="tipoSeguro" id="tipoSeguro">
        </div>
        <div class="col-12">
            <label for="costo" class="form-label">Costo</label>
            <input type="text" class="form-control" id="precio" name="costo" placeholder="costo">
        </div>        

    </form>

   <div class="row g-3">
        <div class="d-grid gap-2">
            <button type="button" class="btn btn-primary" onclick="GuardarSeguro()" id="buttonGuardar">Guardar</button>
            <button type="button" class="btn btn-danger" onclick="LimpiarSeguro()">Limpiar</button>
        </div>
   </div>

    

</fieldset>

<div id="divTable">

</div>

<script src="~/js/generico.js"></script>
<script src="~/js/seguro.js"></script>