@{
    ViewData["Title"] = "Index";
}

<h1>Cliente</h1>

<div class="input-group">
    <input id="txtCliente" type="text" class="form-control" onkeyup="filtrarCliente()" placeholder="Ingresar tipo medicamento a buscar" aria-label="Recipient's username with two button addons">
    
</div>

<fieldset>
    <legend>Guardar Datos</legend>
    <form id="frmGuardarCliente" class="row g-3">
        <div class="col-md-6">
            <label for="idCliente" class="form-label">Id Cliente</label>
            <input type="text" class="form-control" name="idCliente" id="idCliente">
        </div>
        <div class="col-md-6">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="Nombre">
        </div>
        <div class="col-12">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido">
        </div><div class="col-md-6">
            <label for="telefono" class="form-label">Telefono</label>
            <input type="text" class="form-control" name="telefono" id="telefono">
        </div>
        <div class="col-12">
            <label for="Email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Email">
        </div>
    </form>

   <div class="row g-3">
        <div class="d-grid gap-2">
            <button type="button" class="btn btn-primary" onclick="GuardarCliente()" id="buttonGuardar">Guardar</button>
            <button type="button" class="btn btn-danger" onclick="LimpiarCiente()">Limpiar</button>
        </div>
   </div>

    

</fieldset>

<div id="divTable">

</div>

<script src="~/js/generico.js"></script>
<script src="~/js/cliente.js"></script>
