@{
    ViewData["Title"] = "Index";
}

<h1>Sucursal</h1>

<fieldset>
    <form id="frmGuardarSucursal" class="row g-3">
        @* <div class="col-md-6">
            <label for="name" class="form-label">Id Sucursal</label>
            <input type="text" class="form-control" name="iidSucursal" id="iidSucursal" readonly>
        </div> *@
        <div class="col-md-6">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre">
        </div>
        <div class="col-md-6">
            <label for="Direccion" class="form-label">Direccion</label>
            <input type="text" class="form-control" name="direccion" id="direccion">
        </div>
       
    </form>
    <br/>

    <div class="row g-3">
        <div class="d-grid gap-2">
            <button type="button" class="btn btn-primary" onclick="LimpiarSucursal()">Limpiar</button>
            <button type="button" class="btn btn-danger" onclick="GuardarSucursal()">Guardar</button>
        </div>
    </div>

</fieldset>

<div id="divTable">

</div>

<script src="~/js/generico.js"></script>
<script src="~/js/sucursal.js"></script>
