@{
    ViewData["Title"] = "Index";
}

<div class="container my-5">
    <h1>Pago</h1>
    <button id="btnNuevoPago" class="btn btn-primary">Nuevo Pago</button>

    <div id="divTable">
    </div>
</div>

<div class="modal fade" id="modalPago" tabindex="-1" aria-labelledby="modalPagoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalPagoLabel">Actualizar Pago</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmPago">
                    <input type="hidden" name="idPago" id="idPago">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">id Reserva</label>
                        <input type="number" name="idReserva" class="form-control" id="idReserva" value="">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Monto</label>
                        <input type="number" name="monto" class="form-control" id="monto" value="">
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">metodo de Pago</label>
                        <input type="text" name="metodoPago" class="form-control" id="metodoPago" value="">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">fecha de Pago</label>
                        <input type="datetime-local" name="fechaPago" class="form-control" id="fechaPago" value="">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button class="btn btn-outline-secondary" type="button" onclick="GuardarPago()" id="buttonGuardar">Guardar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/generico.js"></script>
<script src="~/js/pago.js"></script>
