
@{
    ViewData["Title"] = "Index";
}

<div class="container my-5">
    <h1 class="tittle">>Seguro</h1>

    <button id="btnNuevoSeguro" class="btn btn-outline-info">Nuevo Seguro</button>

    <div id="divTable">
    </div>
</div>

<div class="modal fade" id="modalSeguro" tabindex="-1" aria-labelledby="modalSeguroLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalSeguroLabel">Actualizar Seguro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmSeguro">
                    <input type="hidden" name="idSeguro" id="idSeguro">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">id Reserva</label>
                        <input type="number" name="idReserva" class="form-control" id="idReserva">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">tipo Seguro</label>
                        <input type="text" name="tipoSeguro" class="form-control" id="tipoSeguro" value="">
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">costo</label>
                        <input type="number" name="costo" class="form-control" id="costo" value="">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button class="btn btn-outline-secondary" type="button" onclick="GuardarSeguro()" id="buttonGuardar">Guardar</button>
            </div>
        </div>
    </div>
</div>


<script src="~/js/generico.js"></script>
<script src="~/js/seguro.js"></script>