
@{
    ViewData["Title"] = "Index";
}

<div class="container my-5">
    <h1>Vehículo</h1>

    <button id="btnNuevoVehiculo" class="btn btn-primary">Nuevo Vehiculo</button>

    <div id="divTable">
    </div>
</div>

<div class="modal fade" id="modalVehiculo" tabindex="-1" aria-labelledby="modalVehiculoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalVehiculoLabel">Actualizar Vehiculo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmVehiculo">
                    <input type="hidden" name="idVehiculo" id="idVehiculo">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Marca</label>
                        <input type="text" name="marca" class="form-control" id="marca" value="">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">modelo</label>
                        <input type="text" name="modelo" class="form-control" id="modelo" value="">
                    </div><div class="mb-3">
                        <label for="nombre" class="form-label">Año</label>
                        <input type="text" name="anio" class="form-control" id="anio" value="">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">precio</label>
                        <input type="text" name="precio" class="form-control" id="precio" value="">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">estado</label>
                        <input type="text" name="estado" class="form-control" id="estado" value="">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-secondary" type="button" onclick="GuardarVehiculo()" id="buttonGuardar">Guardar</button>
            </div>
        </div>
    </div>
</div>


<script src="~/js/generico.js"></script>
<script src="~/js/vehiculo.js"></script>