@{
    ViewData["Title"] = "Index";
}

<div class="container my-5">
    <h1>Reserva</h1>
    <button id="btnNuevaReserva" class="btn btn-primary">Nueva Reserva</button>
    <div id="divTable" >
    </div>
</div>


<div class="modal fade" id="modalReserva" tabindex="-1" aria-labelledby="modalReservaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalReservaLabel">Actualizar Reserva</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmReserva">
                    <input type="hidden" name="idReserva" id="idReserva">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">id Cliente</label>
                        <input type="number" name="idCliente" class="form-control" id="idCliente" value="">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">id Vehiculo</label>
                        <input type="number" name="idVehiculo" class="form-control" id="idVehiculo" value="">
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">fecha Inicio</label>
                        <input type="datetime-local" name="fechaInicio" class="form-control" id="fechaInicio" value="">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">fecha de Fin</label>
                        <input type="datetime-local" name="fechaFin" class="form-control" id="fechaFin" value="">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">estado</label>
                        <input type="text" name="estado" class="form-control" id="estado" value="">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button class="btn btn-outline-secondary" type="button" onclick="GuardarReserva()" id="buttonGuardar">Guardar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/generico.js"></script>
<script src="~/js/reserva.js"></script>
